@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --accent: #ff00ff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-mono);
}

@layer components {
  .nav-item {
    @apply text-[#ededed70] hover:text-foreground transition-colors;
  }

  .nav-item.active {
    @apply text-foreground;
  }
}
